A prospect has completed the online product recommendation survey.
Name: ${customer.firstName}  ${customer.lastName}
Company: ${customer.company}
Email:  ${customer.email}
Phone: ${customer.phone}
Country: ${customer.country}
Business Type: ${customer.businessType}
Additional Message: ${customer.addiMsg}

Add to MYOB newsletter list: ${customer.isSubscribe}

Recommended Product: ${customer.product.productName}
Trial Site Provisioned:${customer.hasTrial}

Responses to questions: 
#foreach( $response in $allResponses )

    Question ${foreach.count}: ${response.questionBody}
	Answer: ${response.answer}
#end


